.label,
.input {
  margin-bottom: 10px;
}
.wrapper {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 210px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: rgb(253, 221, 253);
}
