.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  max-width: 250px;
  background-color: rgba(206, 206, 216, 0.81);
  min-height: 255px;
  font-size: 18px;
}

.error {
  color: red;
  font-weight: 700;
}

.form > input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
}

.add_button {
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px;
  width: 120px;
}

.add_button:hover {
  background-color: rgb(99, 99, 141);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid black;
}
