.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 288px;
  min-height: 250px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_title {
  font-size: 16px;
  margin-bottom: 40px;
}

.delete_button {
  border: none;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px;
  width: 80px;
  font-size: 16px;
}

.delete_button:hover {
  background-color: rgb(99, 99, 141);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid black;
}

.wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  height: 40px;
}

.close_button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close_button:hover,
.close_button:focus {
  background-color: rgb(99, 99, 141);
  border: 1px solid black;
}
