.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.field {
  font: inherit;
  padding: 4px;
}
.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #dd94c1;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  width: 130px;
}

.button:hover {
  background-color: #ca89b7;
}

.button:focus {
  background-color: #702d70;
}
span {
  color: #e609ee;
  font-size: 18px;
}
