.contact_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  border-radius: 50%;
}

.contact_list > li {
  background-color: rgba(206, 206, 216, 0.81);
  border-radius: 8px;
  min-width: 340px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
