.wrapper {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 20px;
}

.name_user {
  text-transform: uppercase;
}

.logOut_button {
  background-color: transparent;
  border: 1px solid #433a46ab;
  color: #00132c;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  border-radius: 20px;
}

.logOut_button:hover,
.logOut_button:active {
  outline: 0;
}

.logOut_button:hover {
  background-color: transparent;
  cursor: pointer;
}

.logOut_button:before {
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
  border-radius: 20px;
}
